<!DOCTYPE html>

<html>
<head>
    <%- include('./partials/head'); %>
</head>

<body>
<%- include('./partials/header_professeur'); %>
<div class="container">
    <h1>Comptoir d'emprunt</h1>
    <h2>Faire un emprunt</h2>
    <form class="row g-3" action="<%= action === 'Cloner'? 'EmpruntCom': 'EmpruntModify'%>" method="post"style="width: 600px;">
        <input id="ID" type="hidden" name="ID" size="30" maxlength="50" value="<%=emprunt.EMPRUNTID%>">
        <input id="STUDENTID" type="hidden" name="STUDENTID" size="30" maxlength="50" value="<%=emprunt.STUDENTID%>">
        <div class="col-12">
            <label for="ClassName" class="form-label">Nom de la classe:</label>
            <input id="ClassName" class="form-control" type="text" name="ClassName" value="<%= emprunt.CLASSNAME %>" size="30" maxlength="50"/>
        </div>
        <div class="col-md-6">
            <label for="BeginDate" class="form-label">Date de d'emprunt:</label>
            <input id="BeginDate" class="form-control" type="datetime-local" name="BeginDate" value="<%= emprunt.DATEPREVUDEBUT.toISOString().replace(':00.000Z', '') %>" size="30" maxlength="50"/>
        </div>
        <div class="col-md-6">
            <label for="EndDate" class="form-label">Date de retour:</label>
            <input id="EndDate" class="form-control" type="datetime-local" name="EndDate" value="<%= emprunt.DATEPREVUFIN.toISOString().replace(':00.000Z', '') %>" size="30" maxlength="50"/>
        </div>
        <div class="col-12">
            <label for="Professeurs" class="form-label">Professeur:</label>
            <select id="Professeurs" class="form-control" name="Professeurs">
                <% professeurs.forEach(function(professeur) { %>
                    <option value="<%= professeur.NPROFESSEUR %>" <%= emprunt.ASKTEACHERID === professeur.NPROFESSEUR ? "selected": "" %>> <%= professeur.PRENOM +" "+ professeur.NOM %></option>
                <% }); %>
            </select>
        </div>
        <h2>Équipements:</h2>
        <% typesEquipements.forEach(function(typeEquiment) { %>
            <div class="row">
                <a data-bs-toggle="collapse" href="#equipement<%= typeEquiment.TYPEID %>"><h4><%= typeEquiment.TYPE %></h4></a>
                <div id="equipement<%= typeEquiment.TYPEID %>" class="collapse <%= empruntItems.find(x => x.TYPEID===typeEquiment.TYPEID)? 'show': ''%>">
                    <div class="card card-body">
                        <% equipements.forEach(function(equipement) { %>
                            <% if (typeEquiment.TYPEID == equipement.TYPEID) { %>
                                <div class="row g-3">
                                    <div class="col-md-2">
                                        <input class='form-control' id="<%= equipement.EQUIPMENTID %>" type='number' name="c_<%= equipement.EQUIPMENTID %>" value="<%= equipement.EMPRUNTQUANTITE || ''%>"/>
                                    </div>
                                    <div class="col-md-10">
                                        <label for="<%=equipement.EQUIPMENTID%>" class="form-label"><%= equipement.DESCRIPTION +" "+ equipement.QUANTITE %></label>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        <% }); %>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>
</div>
</body>
</html>
