<!DOCTYPE html>

<html>

<head>
    <%- include('./partials/head'); %>
    <script>

////////////////////////////////////////////////////////
//////// fonction pour donner les informations pour la personne dont le mot de passe va êtrer changé
////////////////////////////////////////////////////////       
        function
            personData(id, statut, nom, prenom) {
            document.getElementById("ID").setAttribute('value', id);
            document.getElementById("Sorte").setAttribute('value', statut);
            document.getElementById("NomPrenom").setAttribute('value', (prenom + " " + nom));
        }


    </script>
</head>

<body>
<%- include('./partials/header'); %>
<div class="container">
        <h1>systeme de comptoir pret</h1>
        <h2>Changer votre mot de passe</h2>
        <form name="form1" action="changerMotDePasseAutre" method="post">
            <input id="ID" type="hidden" name="ID" size="30" maxlength="50" value="<%=user_id%>">
            <input id="Sorte" type="hidden" name="Sorte" size="30" maxlength="50" value="<%=user_status%>">
            <div class="mb-3 row">
                <label for="old" class="col-sm-3 col-form-label">Nom et Prenom de la personne:</label>
                <div class="col-sm-5">
                    <input  id="NomPrenom" class="form-control" type="text" readonly value="<%=user.NOM +" "+ user.PRENOM%>" name="name" size="30" maxlength="500" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="new" class="col-sm-3 col-form-label">Nouveau mot de passe:</label>
                <div class="col-sm-5">
                    <input   class="form-control" type="password" name="nouveau" size="30" maxlength="500" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary" value="Sauvegarder"/>
                </div>
            </div>
        </form>
    </div>
</body>

</html>